{% extends 'base.html' %}
{% load static %}
{% block title %}
Register as Breakdown Driver
{% endblock %}

{% block content %}
<section class="vh-100" style="background-color: #ffffff;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Register as Breakdown Driver</p>

                <form class="mx-1 mx-md-4" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="text" required="required" name="fullname" id="form3Example1c" class="form-control" />
                      <label class="form-label" for="form3Example1c">Full Name</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-phone-alt fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="tel" required="required" name="contact_number" id="form3Example2c" class="form-control" />
                      <label class="form-label" for="form3Example2c">Contact Number</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="email" required="required" name="email" id="form3Example3c" class="form-control" />
                      <label class="form-label" for="form3Example3c">Email Address</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="text" required="required" name="username" id="form3Example4c" class="form-control" />
                      <label class="form-label" for="form3Example4c">Username</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="password" required="required" name="password" id="form3Example5c" class="form-control" />
                      <label class="form-label" for="form3Example5c">Password</label>
                    </div>
                  </div>

                  <!-- Additional Breakdown Vehicle Details -->


                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-file-alt fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="file" required="required" name="license" id="form3Example7c" class="form-control" />
                      <label class="form-label" for="form3Example7c">License Document</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-shield-alt fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="file" required="required" name="insurance" id="form3Example8c" class="form-control" />
                      <label class="form-label" for="form3Example8c">Insurance Document</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-truck fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="text" required="required" name="vehicle_model" id="form3Example9c" class="form-control" />
                      <label class="form-label" for="form3Example9c">Vehicle Model</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-cogs fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="text" required="required" name="vehicle_registration" id="form3Example10c" class="form-control" />
                      <label class="form-label" for="form3Example10c">Vehicle Registration Number</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-images fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="file" required="required" name="vehicle_images" id="form3Example11c" class="form-control"  />
                      <label class="form-label" for="form3Example11c">Vehicle Images</label>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3">
                      I agree to all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-lg" style="background-color: #FF0000; color: #ffffff;">Register</button>
                  </div>
                  <a class="small text-muted" href="#!">Forgot password?</a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account? <a href="{% url 'login' %}" style="color: #393f81;">Login here</a></p>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="{% static 'assets/img/registerimg.png' %}" alt="AutoJali Illustration" width="500" height="auto">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
